@import "tailwindcss";

body {
   background-color: "#FFFAF1";
   /* color: var(--foreground);
   font-family: var(--font-urbanist); */
}

.container {
  /* max-width: 1400px; */
  
  margin: 0 0;
  padding: 0 3%;
}



@media (max-width: 768px) {
  .container {
    padding: 0 2%;
  }
}


