@import "tailwindcss";

/* :root {
  --font-urbanist: 'Urbanist', sans-serif;
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-bowlby: 'Bowlby One', cursive;
} */

@theme inline {
  --font-sans: var(--font-urbanist);
  --font-jakarta: var(--font-plus-jakarta);
  --font-bowlby: var(--font-bowlby);
}
 


body {
   background-color: "#FFFAF1";
   /* color: var(--foreground);
   font-family: var(--font-urbanist); */
}

.container {
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 0 3%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2%;
  }
}


